<h1> Details </h1>
<table border = '1'>
<tr> <td> watch_id: </td> <td> <%= onerec.watch_id %> </td> </tr>
<tr> <td> model: </td> <td> <%= onerec.model %> </td> </tr>
<tr> <td> material: </td> <td> <%= onerec.material  %> </td> </tr>
<tr> <td> movement: </td> <td> <%= onerec.movement %> </td> </tr>
<tr> <td> complications: </td> <td> <%= onerec.complications %> </td> </tr>
<tr> <td> size: </td> <td> <%= onerec.size %> </td> </tr>
<tr> <td> price: </td> <td> <%= onerec.price %> </td> </tr>
<tr> <td> status </td> <td> <%= onerec.status %> </td> </tr>
<tr> <td> manufacturer id: </td> <td> <%= onerec.manufacturer_id %> </td> </tr>

</table>